{:paths ["src" "resources" "dev" "test" "web-target"]
 :deps
 {
  com.widdindustries/tiado-cljs2 {:git/url "https://github.com/henryw374/tiado-cljs2.git" :git/sha "3229283d825a393008a1f1c408603dff775e87c2"}
  com.pitch/uix.core {:mvn/version "1.0.1"}
  com.pitch/uix.dom {:mvn/version "1.0.1"}
  medley/medley {:mvn/version "1.4.0"}

  metosin/reitit {:mvn/version "0.7.0-alpha5"}}
 } 
